@import 'fonts/nexarust/nexafont.css';
.slider-cta {
  background: #d14728;
  -webkit-box-shadow: 0 0 20px 5px rgba(0,0,0,0.5);
  box-shadow: 0 0 20px 5px rgba(0,0,0,0.5);
  display: block;
  color: #fff !important;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px !important;
  font-weight: 700;
  margin: 20px auto !important;
  line-height: 32px;
  padding: 10px !important;
  border-bottom: 3px solid #a63820;
  text-align: center;
  text-shadow: none;
  width: 380px !important;
  max-width: 90% !important;
}
.slider-cta:hover {
  background: #c0dfe0;
  border-bottom: 3px solid #51a2a5;
  color: #183e58 !important;
  text-decoration: none;
}
.content-cta {
  background: #d14728;
  display: block;
  color: #fff !important;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px !important;
  font-weight: 700;
  margin: 20px auto !important;
  line-height: 32px;
  padding: 10px !important;
  border-bottom: 3px solid #a63820;
  text-align: center;
  text-shadow: none;
  width: 380px !important;
  max-width: 90% !important;
}
.content-cta:hover {
  background: #183e58;
  border-bottom: 3px solid #0d2230;
  color: #fff;
  text-decoration: none;
}
h1,
h2,
h3 {
  font-family: 'nexa_rust_sansblack' !important;
}
h1 {
  font-size: 32px !important;
  line-height: 130% !important;
}
h2 {
  font-size: 26px !important;
  line-height: 130% !important;
}
h3 {
  font-size: 24px !important;
  line-height: 130% !important;
}
h4 {
  font-size: 22px !important;
  line-height: 130% !important;
}
h5 {
  font-size: 20px !important;
  font-weight: 300 !important;
  line-height: 130% !important;
}
h6 {
  font-size: 18px !important;
  font-weight: 300 !important;
  line-height: 130% !important;
}
.Tcenter {
  text-align: center;
}
.entry-title {
  word-break: break-word;
}
.wpcf7-form input[type="text"],
.wpcf7-form input[type="email"],
.wpcf7-form input[type="tel"],
.wpcf7-form textarea {
  border: 1px solid rgba(0,0,0,0.05);
  padding: 10px 12px;
  outline: none;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  color: #999;
  margin: 0;
  max-width: 100%;
  display: block;
  background: #f5f5f5;
  font-weight: 600;
}
.wpcf7-form input[type="submit"]:hover {
  background: #183e58;
  color: #fff;
}
.wpcf7-form .asterisk {
  color: #d14728;
  font-family: 'Open Sans';
  font-weight: 700;
}
.main-header {
  position: relative;
}
#top-bar {
  background: #183e58;
}
#cart .cart-btn .adc:hover,
#cart .cart-btn .adc.hovered {
  background: #c0dfe0;
  color: #183e58;
}
#cart .cart-btn .adc:before {
  color: #fff;
}
#cart .cart-list {
  background: rgba(13,34,48,0.9);
  border: 1px solid #183e58;
  -webkit-box-shadow: 0 0 5px 2px rgba(0,0,0,0.4);
  box-shadow: 0 0 5px 2px rgba(0,0,0,0.4);
  color: #fff;
}
#cart .cart-list .arrow {
  border-bottom: 5px solid #183e58;
}
#cart .cart-list .cart-amount {
  background: #183e58;
}
#cart .cart-list .cart-amount span {
  color: #fff;
}
#cart .cart-list ul li.empty {
  color: #fff;
}
#cart .cart-list .cart_list_product a {
  width: initial;
  color: #c0dfe0;
  height: 23px;
}
#cart .cart-list .cart-buttons {
  border-top: 1px solid rgba(255,255,255,0.3);
  margin-top: 10px;
}
#cart .cart-list .cart-buttons .view-cart {
  background: rgba(255,255,255,0.3);
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}
#cart .cart-list .cart-buttons .view-cart:hover {
  background: #c0dfe0;
}
#cart .cart-list .cart-buttons .view-cart:hover span {
  color: #183e58;
}
.cart-buttons a.view-cart:hover:before,
.cart-buttons a.checkout:hover:before,
.cart-buttons a.checkout:hover {
  background: #c0dfe0;
}
.cart-buttons a.view-cart:hover:before span,
.cart-buttons a.checkout:hover:before span,
.cart-buttons a.checkout:hover span {
  color: #183e58 !important;
}
.social-icons li a {
  background: none;
}
.CP-user img {
  height: 36px !important;
  float: right;
}
.CP-user p {
  float: right;
  margin: 0;
  line-height: 36px;
  color: #c0dfe0;
  font-size: 16px;
  padding: 0 5px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.CP-user:hover p {
  background: #c0dfe0;
  color: #183e58;
}
.CP-login {
  color: #c0dfe0 !important;
  margin: 0;
  line-height: 36px;
  font-size: 16px;
  padding: 0 10px;
  float: right;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.CP-login i {
  margin-right: 5px;
  font-size: 18px;
}
.CP-login:hover {
  background: #c0dfe0;
  color: #183e58 !important;
}
ul.top-bar-menu li a,
ul.top-bar-menu li i {
  color: #c0dfe0;
}
ul.top-bar-menu li a:hover {
  color: #dd694f !important;
}
#logo {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 130px;
}
#logo a {
  float: left;
  width: 100%;
}
#logo a img {
  width: 130px;
  max-width: 100%;
}
#navigation .menu {
  border-bottom: 1px solid rgba(0,0,0,0.07);
  border-top: 1px solid rgba(0,0,0,0.07);
  float: right;
  margin: 30px 0;
  text-align: right;
  width: auto !important;
}
#navigation .menu > li {
  border-left: 1px solid rgba(255,255,255,0.08);
  display: inline-block;
  float: none;
}
#navigation .menu > li:first-child {
  border-left: none;
}
#navigation .menu > li:hover {
  background: none !important;
}
#navigation .menu > li a {
  border-bottom: 1px solid transparent;
  color: #183e58 !important;
  padding: 10px 20px;
}
#navigation .menu > li a:hover {
  border-bottom: 1px solid #d14728;
  color: #d14728 !important;
}
#navigation .menu > li a:active {
  background: none;
}
#navigation .menu > li.current-menu-item a {
  border-bottom: 1px solid #d14728;
  display: block;
  float: none;
  color: #d14728 !important;
}
#navigation .menu > li.current-menu-item a:hover {
  border-bottom: 1px solid #183e58;
}
.home-slider {
  border-top: 3px solid #c2c2c2;
  margin-bottom: 30px;
}
.how-it-works img {
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.parallax-title {
  font-family: 'nexa_rust_slabblack_shadow_01';
  font-weight: normal;
}
.parallax-title span {
  font-family: 'nexa_rust_sansblack';
}
.post-type-archive .parallax-titlebar .parallax-content h2 {
  padding-left: 150px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.post-type-archive .parallax-titlebar .parallax-content h2 span {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.page .parallax-titlebar .parallax-content h2 {
  padding-left: 150px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.page .parallax-titlebar .parallax-content h2 span {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.blog .titlebar .container .sixteen,
.page .titlebar .container .sixteen {
  padding-left: 150px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 200;
}
.left-sidebar-class .woocommerce-info {
  margin-left: 0px;
  width: 100%;
}
.pricing-table-container {
  padding-top: 30px;
}
.pricing-table-container > .one-third {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
}
.pricing-table {
  background: #f5f5f5;
  border: 1px solid rgba(0,0,0,0.05);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: rgba(0,0,0,0.6);
  float: left;
  padding: 20px;
  position: relative;
  width: 100%;
}
.pricing-table > header {
  text-align: center;
}
.pricing-table > header .pricing-table-title {
  float: left;
  margin: 20px 0;
  text-align: center;
  width: 100%;
}
.pricing-table .subscription-cost {
  background: #d14728;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font-family: 'nexa_rust_sansblack';
  font-size: 28px;
  margin-top: -80px;
  max-height: 120px;
  overflow: hidden;
  padding: 40px 20px;
  text-align: center;
  width: 120px;
}
.pricing-table .subscription-cost span {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}
.pricing-table ul {
  float: left;
  margin: 0 0 20px 0;
  padding: 0;
  width: 100%;
}
.pricing-table ul li {
  border-bottom: 1px solid rgba(0,0,0,0.05);
  list-style: none;
  padding: 10px;
  text-align: center;
}
.pricing-table ul li.empty-item {
  border-bottom: none;
}
.pricing-table .pricing-cta {
  background: #c2c2c2;
  color: #fff;
  clear: both;
  display: block;
  margin: 0 auto;
  overflow: hidden;
  padding: 10px 10px;
  text-align: center;
  width: 70%;
}
.container .page ul li,
.post-content ul li {
  list-style: none;
  margin: 7px 0;
  margin-left: 20px;
  position: relative;
}
.container .page ul li:before,
.post-content ul li:before {
  content: "\f138";
  color: #d14728;
  font-family: "FontAwesome";
  position: absolute;
  top: 1px;
  left: -22px;
}
#footer {
  background: #112b3d;
}
#footer-bottom {
  background: #0d2230;
  color: #c0dfe0;
  font-size: 16px;
}
#footer h3.footer,
.widget_ns_mailchimp form {
  background: #112b3d;
  font-size: 22px !important;
}
.footer-logo {
  float: left;
  opacity: 0.4;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
  width: 100%;
}
.footer-logo img {
  display: block;
  margin: 0 auto 20px auto;
  max-width: 100%;
  width: 145px;
}
#footer:hover .footer-logo {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.widget {
  font-size: 15px;
  margin: 0 0 20px 0 !important;
}
.widget h6 {
  color: #d0d0d0 !important;
}
.widget p {
  padding-bottom: 5px;
  line-height: 125%;
}
.widget p a,
.widget p strong {
  color: #d14728 !important;
}
.widget-registro {
  clear: both;
}
.register-form {
  float: left;
  width: 100%;
}
.register-form #mc_embed_signup_scroll {
  float: left;
  width: 100%;
}
.register-form #mc_embed_signup_scroll .mc-field-group {
  float: left;
  width: 100%;
}
.register-form #mc_embed_signup_scroll .mc-field-group label {
  float: left;
  font-family: 'nexa_rust_sansblack';
  margin-bottom: 0;
  width: 100%;
}
.register-form #mc_embed_signup_scroll .mc-field-group label .asterisk {
  color: #d14728;
  font-family: 'Open Sans';
  font-weight: 700;
}
.register-form #mc_embed_signup_scroll .mc-field-group input {
  background: #183e58;
  border: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  float: left;
  margin-bottom: 8px;
  padding: 8px 12px;
  width: 100%;
}
.register-form #mc_embed_signup_scroll .submit-register-form {
  float: left;
  font-family: 'nexa_rust_sansblack';
  font-size: 16px;
  font-weight: normal;
  margin: 5px 0 0 0;
  text-align: center;
}
.register-form #mc_embed_signup_scroll .submit-register-form:hover {
  background: #c0dfe0;
  color: #183e58;
}
input[type="text"],
input[type="number"],
input[type="url"],
input[type="password"],
input[type="email"],
textarea,
select {
  padding: 10px 12px;
  outline: none;
  font-size: 13px;
  color: #2e2e2e;
  margin: 0;
  max-width: 100%;
  display: block;
  background: #fff;
  border: 2px solid #f5f5f5;
  font-weight: 600;
}
select {
  padding: 0;
}
input[type="text"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="url"]:focus,
input[type="email"]:focus,
textarea:focus {
  border: 2px solid #f2f2f2;
  color: #2e2e2e;
  background: #fefefe;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s easeout;
  -moz-transition: all 0.1s easeout;
  -o-transition: all 0.1s easeout;
  -ms-transition: all 0.1s easeout;
  transition: all 0.1s easeout;
}
.rev_slider {
  touch-action: initial !important;
}
@media only screen and (max-width: 1389px) and (min-width: 960px) {
  .fullwidth .fullwidth-element.home-slider {
    width: 100%;
  }
}
@media only screen and (max-width: 991px) {
  .post-type-archive .parallax-titlebar .parallax-content h2 {
    padding-left: 0px !important;
  }
  .page .parallax-titlebar .parallax-content h2 {
    padding-left: 0px !important;
  }
  .blog .titlebar .container .sixteen,
  .page .titlebar .container .sixteen {
    padding-left: 0px;
  }
}
@media only screen and (max-width: 990px) and (min-width: 768px) {
  #navigation .menu > li > a,
  #navigation ul li a {
    font-size: 15px !important;
  }
  #navigation .menu > li > a {
    padding: 17px 12px 15px 12px;
  }
  #logo a img {
    width: 76px;
  }
}
@media only screen and (max-width: 767px) {
  a.menu-trigger {
    background: #183e58 !important;
  }
  #logo {
    float: none;
    margin: 0 auto;
    position: static;
  }
  #logo a img {
    margin: 0 auto;
    width: 100px;
  }
}
