// Imported Stylesheets
@import 'fonts/nexarust/nexafont.css'
@import 'nib/vendor'

vendor-prefixes = webkit moz o ms official

// Colors
white = #ffffff
orange = #d14728
darkOrange = #a63820
blue = #183e58
darkBlue = #0d2230
lightBlue = #51a2a5
lighterBlue = #c0dfe0
gray = #c2c2c2
lightGray = #f5f5f5

// Button Styles
.slider-cta 
	background orange
	box-shadow 0 0 20px 5px rgba(0,0,0,0.5)
	display block
	color white !important
	font-family 'Open Sans',sans-serif
	font-size 20px !important
	font-weight 700
	margin 20px auto !important
	line-height 32px 
	padding 10px !important
	border-bottom 3px solid darkOrange
	text-align center
	text-shadow none
	width 380px !important
	max-width 90% !important

	&:hover 
		background lighterBlue
		border-bottom 3px solid lightBlue
		color blue !important
		text-decoration none

.content-cta 
	background orange
	display block
	color white !important
	font-family 'Open Sans',sans-serif
	font-size 20px !important
	font-weight 700
	margin 20px auto !important
	line-height 32px 
	padding 10px !important
	border-bottom 3px solid darkOrange
	text-align center
	text-shadow none
	width 380px !important
	max-width 90% !important

	&:hover 
		background blue
		border-bottom 3px solid darkBlue
		color white
		text-decoration none

// Heading styles
h1, h2, h3
	font-family 'nexa_rust_sansblack' !important

h1
	font-size 32px !important
	line-height 130% !important

h2
	font-size 26px !important
	line-height 130% !important
	
h3
	font-size 24px !important
	line-height 130% !important

h4
	font-size 22px !important
	line-height 130% !important

h5
	font-size 20px !important
	font-weight 300 !important
	line-height 130% !important

h6
	font-size 18px !important
	font-weight 300 !important
	line-height 130% !important
	
//Formatting Styles 
.Tcenter 
	text-align center

.entry-title
	word-break break-word
	
//Forms Formatting
.wpcf7-form
	input[type="text"], input[type="email"], input[type="tel"], textarea
		border 1px solid rgba(0,0,0,0.05)
		padding 10px 12px
		outline none
		font-size 13px
		font-family: 'Open Sans', sans-serif;
		color #999
		margin 0
		max-width 100%
		display block
		background #f5f5f5
		font-weight 600
	
	input[type="submit"]:hover 
		background blue
		color white
		
	.asterisk
		color #d14728
		font-family 'Open Sans'
		font-weight 700

//Customizing Theme
.main-header 
	position relative

#top-bar 
	background blue
	
#cart
	.cart-btn
		.adc
			&:hover, &.hovered
				background lighterBlue
				color blue
			
			&:before
				color white
	
	.cart-list
		background rgba(13,34,48, 0.9)
		border 1px solid blue
		box-shadow 0 0 5px 2px rgba(0,0,0,0.4)
		color white
		
		.arrow
			border-bottom 5px solid blue
		
		.cart-amount
			background blue
			
			span 
				color white 
		
		ul
			li.empty
				color white
		.cart_list_product
			float none
			a
				width initial
				color lighterBlue
				height 18px
			
		
		.cart-buttons
			border-top 1px solid rgba(255,255,255,0.3)
			margin-top 10px
			
			.view-cart
				background rgba(255,255,255,0.3)
				transition none !important
				
				&:hover
					background lighterBlue
					
					span 
						color blue

.cart-buttons a.view-cart:hover:before, .cart-buttons a.checkout:hover:before, .cart-buttons a.checkout:hover
	background lighterBlue
	
	span
		color blue !important
.social-icons
	li
		a
			background none
.CP-perfil
	float right
	.CP-user
		float left
		img
			height 36px !important
			float right
		p
			float right
			margin 0
			line-height 36px
			color lighterBlue
			font-size 16px
			padding 0 10px
			transition all 0.2s
		&:hover
			p
				background lighterBlue
				color #183e58
		&.CP-userHovered
			p
				background lighterBlue
				color #183e58
				
	.CP-perfilOptionsWrapper
		cursor pointer
		display none
		padding-top 50px
		position absolute
		right 0
		width 280px
		z-index 999
		
		.CP-perfilOptions
			background rgba(13,34,48,0.9)
			border 1px solid #183e58
			box-shadow 0 0 5px 2px rgba(0,0,0,0.4)
			color #fff
			float left
			position relative
			width 100%
			
			.arrow
				width 0
				height 0
				border-left 5px solid transparent
				border-right 5px solid transparent
				border-bottom 5px solid #183e58
				position absolute
				top -5px
				right 25px
			.name
				background #183e58
				padding 5px 0
				text-align center
				margin 0
				color lighterBlue
				span
					color orange
				i
					color orange
					font-size 16px
					padding 0 3px
				.mini
					font-size 10px
			a
				border-bottom 1px solid rgba(255,255,255,0.08)
				color white
				line-height 26px
				float left
				width 90%
				padding 3px 5%
				transition all 0.3s
				font-size 16px
				
				i
					font-size 18px
					margin-right 10px
					padding-right 5px
					text-align right
					width 20px
				&:hover
					background lighterBlue
					color darkBlue
					i
						color darkBlue
		
.CP-login
	color lighterBlue !important
	margin 0
	line-height 36px
	font-size 16px
	padding 0 10px
	float right
	transition all 0.2s
	i
		margin-right 5px
		font-size 18px
	&:hover
		background lighterBlue
		color #183e58 !important
ul.top-bar-menu li a,
ul.top-bar-menu li i
	color lighterBlue
	
ul.top-bar-menu li a:hover
	color #dd694f !important

#logo 
	display block
	position absolute
	left 0
	top 0
	z-index 10
	width 130px
		
	a 
		float left
		width 100%

		img 
			width 130px
			max-width 100%
	
#navigation .menu
	border-bottom 1px solid rgba(0,0,0,0.07)
	border-top 1px solid rgba(0,0,0,0.07)
	// box-shadow 4px 4px 0 0 rgba(0,0,0,0.2)
	float right
	margin 30px 0
	text-align right
	width auto !important

#navigation .menu > li
	border-left 1px solid rgba(255,255,255,0.08)
	display inline-block
	float none
	
	&:first-child
		border-left none
	
	&:hover
		background none !important
	
	a
		border-bottom 1px solid transparent
		color blue !important
		padding 10px 20px
		
		&:hover
			border-bottom 1px solid orange
			color orange !important
		
		&:active
			background none
	
#navigation .menu > li.current-menu-item a 
	border-bottom 1px solid orange
	display block
	float none
	color orange !important
	
	&:hover
		border-bottom 1px solid blue

.home-slider
	border-top 3px solid gray
	margin-bottom 30px

.how-it-works
	img 
		border-radius 50%

.parallax-title
	font-family 'nexa_rust_slabblack_shadow_01'
	font-weight normal
	
	span
		font-family 'nexa_rust_sansblack'

.post-type-archive
	.parallax-titlebar
		.parallax-content
			h2
				padding-left 150px
				box-sizing border-box
				
				span
					font-family 'Open Sans', sans-serif
					font-weight 400

.page
	.parallax-titlebar
		.parallax-content
			h2
				padding-left 150px
				box-sizing border-box
				
				span
					font-family 'Open Sans', sans-serif
					font-weight 400

.blog .titlebar .container .sixteen, .page .titlebar .container .sixteen
	padding-left 150px
	position relative
	box-sizing border-box
	z-index 200

.left-sidebar-class .woocommerce-info
	margin-left 0px
	width 100%
	

// .plan .plan-price
// 	color white
	
// 	h3 
// 		background-color rgba(0,0,0,0.1)
// 		color white

// .plan .plan-features
// 	ul
// 		min-height 188px
		
// 		li:before 
// 			content " " !important
			
// 	.button 
// 		color white

.pricing-table-container
	padding-top 30px

.pricing-table-container > .one-third
	box-sizing border-box
	padding 20px

.pricing-table
	background lightGray
	border 1px solid rgba(0,0,0,0.05)
	box-sizing border-box
	color rgba(0,0,0,0.6)
	float left
	padding 20px
	position relative
	width 100%
	
.pricing-table > header 
	text-align center
	
	.pricing-table-title
		float left
		margin 20px 0
		text-align center
		width 100%
		
.pricing-table .subscription-cost
	background orange
	border-radius 50%
	box-sizing border-box
	color white
	display inline-block
	font-family 'nexa_rust_sansblack'
	font-size 28px
	margin-top -80px
	max-height 120px
	overflow hidden
	padding 40px 20px
	text-align center
	width 120px
	
	span
		font-size 18px
		font-family 'Open Sans', sans-serif
		
.pricing-table ul
	float left
	margin 0 0 20px 0
	padding 0
	width 100%
	
	li 
		border-bottom 1px solid rgba(0,0,0,0.05)
		list-style none
		padding 10px
		text-align center
		
		&.empty-item
			border-bottom none

.pricing-table .pricing-cta
	background gray
	color white
	clear both
	display block
	margin 0 auto
	overflow hidden
	padding 10px 10px
	text-align center
	width 70%

.container .page ul li, .post-content ul li 
	list-style none
	margin 7px 0
	margin-left 20px
	position relative
	
	&:before
		content "\f138"
		color orange
		font-family "FontAwesome"
		position absolute
		top 1px
		left -22px
	
#footer 
	background #112b3d

#footer-bottom
	background darkBlue
	color lighterBlue
	font-size 16px

#footer h3.footer, .widget_ns_mailchimp form
	background #112b3d
	font-size 22px !important

.footer-logo
	float left
	opacity 0.4
	width 100%
	
	img
		display block
		margin 0 auto 20px auto
		max-width 100%
		width 145px

#footer:hover .footer-logo
	opacity 1
	transition all .3s ease-in-out

.widget
	font-size 15px
	margin 0 0 20px 0 !important
	
	h6
		color #d0d0d0 !important
	
.widget p
	padding-bottom 5px
	line-height 125%
	
	a, strong 
		color orange !important

.widget-registro
	clear both

.register-form
	float left
	width 100%
	
	#mc_embed_signup_scroll
		float left
		width 100%
		
		.mc-field-group
			float left
			width 100%
			
			label
				float left
				font-family 'nexa_rust_sansblack'
				margin-bottom 0
				width 100%
				
				.asterisk
					color orange
					font-family 'Open Sans'
					font-weight 700
			
			input
				background #183e58
				border none
				box-sizing border-box
				color white
				float left
				margin-bottom 8px
				padding 8px 12px
				width 100%
		
		.submit-register-form
			float left
			font-family 'nexa_rust_sansblack'
			font-size 16px
			font-weight normal
			margin 5px 0 0 0
			text-align center
			
			&:hover
				background lighterBlue
				color blue
//Forms
input[type="text"],
input[type="number"],
input[type="url"],
input[type="password"],
input[type="email"],
textarea,
select
	padding 10px 12px
	outline none
	font-size 13px
	color #2e2e2e
	margin 0
	max-width 100%
	display block
	background #fff
	border 2px solid #f5f5f5
	font-weight 600
select
	padding 0
input[type="text"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="url"]:focus,
input[type="email"]:focus,
textarea:focus
	border 2px solid #f2f2f2
	color #2e2e2e
	background #fefefe
	transition all 0.1s ease-in-out
	transition all 0.1s easeout	
//Revolution Slider
.rev_slider
	touch-action initial !important
//Parallax-Img
.ParallaxImg
	top 20px !important
.ParallaxImg-banner
	top 35px !important
//PopUp
.PopUp
	position absolute
	top 0
	lef 0
	width 100%
	background rgba(black, 0.6);
	height 100%
	overflow hidden
	z-index 200
	.PopUp-active
		top 30px !important
	.PopUp-container
		background url("img/fondoPopUp.png")
		background-size 100% auto
		background-repeat no-repeat
		background-color #e9e3d5
		width 600px
		height 600px
		top 110%
		position fixed
		right 50%
		transform translateX(50%)
		text-align right
		transition all .5s
		
		.PopUp-logoContainer
			max-width 150px
			display inline-block
			margin 7%
			img
				width 100%
		.PopUp-infoContainer
			text-align center
			margin-top 30px
			.PopUp-question
				font-size 40px
				margin 0
				.simbol
					color darkBlue
					transform rotate(180deg)
					display inline-block
					margin 0
					font-weight normal
			.PopUp-awnser
				margin-top 10px
				a
					display inline-block
					background #d3472a
					color white
					padding 5px 0
					width 90px
					border-radius 3px
					text-decoration none
					text-transform uppercase
					font-size 20px
					&:first-child
						margin-right 60px
			.PopUp-info
				margin 40px 0
				text-transform uppercase
				font-size 16px
				padding 0 20px
				a
					color #d3472a
// Media queries fixes
@media only screen and (max-width: 1389px) and (min-width: 960px)
	.fullwidth .fullwidth-element.home-slider
		width 100%

@media only screen and (max-width: 991px)
	.post-type-archive
		.parallax-titlebar
			.parallax-content
				h2
					padding-left 0px !important
	
	.page
		.parallax-titlebar
			.parallax-content
				h2
					padding-left 0px !important
	
	.blog .titlebar .container .sixteen, .page .titlebar .container .sixteen
		padding-left 0px

@media only screen and (max-width: 990px) and (min-width: 768px)	
	#navigation .menu > li > a, #navigation ul li a
		font-size 15px!important
		
	#navigation .menu > li > a
		padding 17px 12px 15px 12px	
	#logo 	
		a 
			img 
				width 76px

@media only screen and (max-width: 767px)
	.PopUp
		.PopUp-active
			top 10px !important
		.PopUp-container
			width 96%
			right 0%
			left 2%
			transform translateX(0)
			position relative
			.PopUp-infoContainer
				margin-top 20px
				.PopUp-question
					font-size 30px
				.PopUp-awnser
					a
						&:first-child
							margin-right 10px
				.PopUp-info
					font-size 14px
			
	a.menu-trigger
		background blue !important
		
	#logo
		float none
		margin 0 auto
		position static
		
		a 
			img 
				margin 0 auto
				width 100px
	
	#top-bar 
		.eight.columns
			width 50%
